[package]
name = "nulid"
version = "0.1.0"
edition = "2024"

[dependencies]
getrandom = "0.3.4"
hifitime = "4.2.3"
serde = { version = "1.0", optional = true, default-features = false, features = ["derive"] }

[features]
default = ["std"]
std = []
serde = ["dep:serde"]

[dev-dependencies]
criterion = "0.8.0"
serde_json = "1.0"
rmp-serde = "1.3.0"
toml = "0.9.8"

[[bench]]
name = "nulid_benchmark"
harness = false

[lints.clippy]
panic = "deny"
unwrap_used = "deny"
expect_used = "deny"
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
